<footer data-section-id="{{ section.id }}" data-section-type="footer">
  <div class="footer">
    <div class="div_footer_text">
      <div class="footertext">Coming Soon</div>
    </div>
    <div class="div_footer_image"><img src="https://cdn.shopify.com/s/files/1/0640/2788/5809/files/partner-logos.png?v=1653707603" loading="lazy" width="302" alt="" class="footer_image"></div>
    <div class="div_footer_share">
      <a href="https://medium.com/1xrun-limited" target="_blank" class="w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0640/2788/5809/files/medium_negative.svg?v=1654023035" loading="lazy" alt="" class="image_social_media"></a>
      <a href="https://discord.gg/84K5MU5KuR" target="_blank" class="w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0640/2788/5809/files/discord_negative.svg?v=1653707603" loading="lazy" alt="" class="image_social_media"></a>
      <a href="https://twitter.com/apeeditions" target="_blank" class="w-inline-block"><img src="https://cdn.shopify.com/s/files/1/0640/2788/5809/files/Twitter_negative.svg?v=1653707603" loading="lazy" alt="" class="image_social_media"></a>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": []
  }
{% endschema %}