@media screen and (min-width: 1920px) {
    .header1 {
        font-size: 10vw;
    }

    .body {
        font-size: 16px;
        line-height: 16px;
    }

    .checkmark_stamp {
        height: 4vw;
    }

    .buttonsubmit {
        width: auto;
        height: 55px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 100vw;
        font-size: 24px;
        line-height: 24px;
    }

    .heading-4 {
        font-size: 44px;
        line-height: 44px;
    }

    .footertext {
        font-size: 16px;
        line-height: 16px;
    }

    .email_input {
        width: 350px;
        height: 55px;
        border-radius: 100vw;
        font-size: 16px;
        line-height: 16px;
    }

    .body-2 {
        background-color: #000;
        background-image: none;
    }

    .text-block-4 {
        position: fixed;
        left: 0%;
        top: 500px;
        right: auto;
        bottom: auto;
        font-family: 'Suisseintl webs', sans-serif;
        color: #fff;
        font-size: 100px;
        line-height: 100px;
        font-weight: 900;
    }
}

@media screen and (max-width: 991px) {
    .header1 {
        font-size: 15vw;
        line-height: 15vw;
    }

    .heading2 {
        font-size: 5vw;
        line-height: 5vw;
    }

    .checkmark_stamp {
        height: 34px;
    }

    .div-block-4 {
        margin-top: 200px;
    }

    .buttonsubmit {
        width: auto;
        height: 55px;
        border-radius: 100vw;
        font-size: 24px;
        line-height: 24px;
    }

    .heading-4 {
        font-size: 44px;
        line-height: 44px;
    }

    .footertext {
        font-size: 16px;
        line-height: 16px;
    }

    .email_input {
        width: 340px;
        height: 55px;
        border-radius: 100vw;
        font-size: 16px;
        line-height: 16px;
    }

    .div_footer_share {
        margin-top: 20px;
    }

    .text-block-3 {
        font-size: 0.8rem;
        line-height: 2;
    }
}

@media screen and (max-width: 767px) {
    .header1 {
        font-size: 16vw;
        line-height: 16vw;
    }

    .heading2 {
        font-size: 6vw;
        line-height: 6vw;
    }

    .checkmark_stamp {
        height: 28px;
    }

    .buttonsubmit {
        width: auto;
        height: 2.5rem;
        border-radius: 4vw;
        font-size: 1rem;
        line-height: 1rem;
    }

    .heading-4 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .footertext {
        font-size: 1rem;
        line-height: 1rem;
    }

    .email_input {
        width: 14rem;
        height: 2.5rem;
        border-radius: 4vw;
        font-size: 0.75rem;
        line-height: 0.75rem;
    }

    .footer_image {
        max-width: 50%;
    }
}

@media screen and (max-width: 479px) {
    .div_header {
        overflow: hidden;
        margin-top: 6vh;
        -o-object-fit: fill;
        object-fit: fill;
    }

    .header1 {
        height: auto;
        padding-bottom: 0px;
        font-size: 24vw;
        line-height: 24vw;
        font-weight: 900;
    }

    .body {
        overflow: hidden;
        min-height: 320px;
        min-width: 320px;
    }

    .heading2 {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 8vw;
        line-height: 8vw;
    }

    .checkmark_stamp {
        height: 20px;
        font-size: 5vw;
        line-height: 5vw;
    }

    .div-block-4 {
        margin-top: 10vh;
    }

    .div_form {
        margin-top: 3vw;
    }

    .buttonsubmit {
        overflow: hidden;
        width: 100%;
        height: 3rem;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 7vw;
        font-size: 24px;
        line-height: 24px;
    }

    .div_header1 {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .heading-4 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }

    .footertext {
        font-size: 16px;
        line-height: 16px;
    }

    .email_input {
        overflow: visible;
        width: 100%;
        height: 3rem;
        margin-right: 0px;
        margin-bottom: 17px;
        border-radius: 7vw;
        background-color: #000;
        font-size: 16px;
        line-height: 16px;
    }

    .div_marquee_container {
        overflow: hidden;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .div_subheader {
        overflow: hidden;
        margin-top: 0vh;
    }

    .footer_image {
        max-width: 80%;
    }

    .div_marquee_container2 {
        overflow: hidden;
    }

    .footer {
        position: fixed;
    }

    .div_middle {
        position: static;
        left: 0%;
        top: 45%;
        right: 0%;
        bottom: auto;
        z-index: auto;
        display: block;
        overflow: visible;
        margin-top: 10vh;
        font-weight: 400;
    }
}